body {
	overflow: hidden;
}

.section {
	padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.container {
	max-width: 980px;
}

.iconfont {
	width: 2em;
	height: 2em;
	vertical-align: -0.5em;
	fill: currentColor;
	overflow: hidden;
}

.breadcrumb:not(:last-child) {
	margin: 0.5rem 0;
	padding: 0 0.75em;
}

.breadcrumb ul {
	flex-wrap: inherit;
}

.breadcrumb li:not(:first-child):not(:last-child) {
	margin: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table {
	width: 100%;
	table-layout: fixed;
	th,td {
		border: 0 !important;
	}
	td {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: middle;
		&:hover,& .icon{
			cursor: pointer;
		}
	}
}

.footer {
	background-color: transparent;
}

.no-content {
	background: url(https://s1.hdslb.com/bfs/static/jinkela/search/asserts/no-data.png) no-repeat 50% 50%;
	height: 240px;
	line-height: 240px;
	text-align: center;
	margin-top: 20px;
}

.golist {
	min-height: 240px;
	position: relative;

	.pageloader:not(.is-bottom-to-top) {
		-webkit-transform: initial;
		transform: initial;
	}
	.pageloader{
		position: absolute;
		padding-top: 0;
		background: hsla(0,0%,100%,.6);
		will-change: initial;
	
		.title {
			color: hsl(0, 0%, 4%);
		}
	}
	.pageloader::after {
		border: 0 solid black;
	}
}