@font-face {
  font-family: 'iconfont';  /* project id 1760192 */
  src: url('//at.alicdn.com/t/font_1760192_tl9awsq3di.eot');
  src: url('//at.alicdn.com/t/font_1760192_tl9awsq3di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.woff') format('woff'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1760192_tl9awsq3di.svg#iconfont') format('svg');
}

body {
  overflow: hidden;
}

.section {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

.container {
  max-width: 980px;
}

.iconfont {
  width: 2em;
  height: 2em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
}

.breadcrumb:not(:last-child) {
  margin: 0.5rem 0;
  padding: 0 0.75em;
}

.breadcrumb ul {
  flex-wrap: inherit;
}

.breadcrumb li:not(:first-child):not(:last-child) {
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  width: 100%;
  table-layout: fixed;

  th,
  td {
    border: 0 !important;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;

    &:hover,
    & .icon {
      cursor: pointer;
    }
  }

  td span {
    vertical-align: middle;
  }

  td .g2-file-desc {
    font-size: 12px;
  }
}

.g2-content {
  margin-top: 1rem;
}

.footer {
  background-color: transparent;
}

.no-content {
  background: url(#{$cdnPath}images/no-data.png) no-repeat 50% 50%;
  height: 240px;
  line-height: 240px;
  text-align: center;
  margin-top: 20px;
}

.video-content {
  width: 100%;
  background: #000;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// 搜索框
.search-input,
.search-input::-webkit-input-placeholder {
  color: whitesmoke;
}

.golist {
  min-height: 240px;
  position: relative;

  .el-loading-mask {
    z-index: initial;
  }

  .pageloader:not(.is-bottom-to-top) {
    -webkit-transform: initial;
    transform: initial;
  }

  .pageloader {
    position: absolute;
    padding-top: 0;
    background: hsla(0, 0%, 100%, 0.6);
    will-change: initial;
    z-index: 1;

    .title {
      color: hsl(0, 0%, 4%);
    }
  }

  .pageloader::after {
    border: 0 solid black;
  }
}

.caret-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}

.sort-caret.ascending {
  border-bottom-color: #c0c4cc;
  top: 5px;
}

.sort-caret.descending {
  border-top-color: #c0c4cc;
  bottom: 7px;
}

.descending .sort-caret.descending {
  border-top-color: #409eff;
}

.ascending .sort-caret.ascending {
  border-bottom-color: #409eff;
}

.sort-caret {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  position: absolute;
  left: 7px;
}


// bulma-divider
.is-divider,
.is-divider-vertical {
  border-top: .1rem solid #f5f5f5;
}

.is-divider-vertical[data-content]::after,
.is-divider[data-content]::after {
  color: #919191;
}